@use "_fonts.scss";
@use "_vars.scss";
@use "custom-maps";
@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";

/* purgecss start ignore */
[data-bs-theme=dark] {
    table {
        --bs-table-color: #{$gray-300} !important;
    }
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.btn {
    --bs-btn-font-family: "Roboto", sans-serif;
}

.lsp-01 {
    letter-spacing: 0.1rem;
}

.t-tip {
    cursor: help;
}

.form-group {
    margin-bottom: 1rem;
}

.text-gray-900 {
    color: $gray-900 !important;
}

.bg-gray-300 {
    background-color: $gray-300 !important;
}

.bg-gray-900 {
    background-color: $gray-900 !important;
}

.bg-layout {
    background-color: vars.$layout !important;
}

.bg-main {
    background-color: vars.$main !important;
}

.edh-header {
    .nav-link {
        --bs-nav-link-color: #{$gray-300};
        --bs-nav-link-hover-color: #{$cyan-300};
    }

    .nav-link.active {
        --bs-navbar-active-color: #{$cyan-500};
    }
}

.tabs-dark {
    --bs-nav-link-color: #{$cyan-200}; // ???
    --bs-border-color: #{$gray-600}; // ???
}

.shadow-in-wh {
    box-shadow: $white 0px 50px 100px -20px, $white 0px 30px 60px -30px, $white 0px -2px 6px 0px inset;
}

.shadow-in-primary {
    box-shadow: $primary 0px 50px 100px -20px, $primary 0px 30px 60px -30px, $primary 0px -2px 6px 0px inset;
}

h3.import-export::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $gray-300;
}

.form-control[data-bs-theme="dark"],
.input-group[data-bs-theme="dark"],
.form-select[data-bs-theme="dark"] {
    --bs-border-color: #{$gray-500};
}

form[data-bs-theme="dark"] {
    @extend .bg-gray-900;
}

a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

table[data-bs-theme="dark"] {
    a.asc:after {
        border-bottom: solid 7px $gray-300;
        border-top-width: 0;
    }

    a.desc:after {
        border-top: solid 7px $gray-300;
        border-bottom-width: 0;
    }

    --bs-table-striped-color: $gray-300 !important;
    --bs-table-color: $gray-300 !important;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#filter-btn {
    min-width: 4.5rem;
}

// jQueryUI Autocomplete
.ui-menu.dropdown-menu {
    max-height: calc(1rem*19 + 12px);
}

.ui-menu {
    padding: 0.5rem;

    .dd-list-item {
        &:hover {
            border-radius: 0.25rem;
            cursor: pointer;
            @extend .bg-gray-300;
            @extend .text-gray-900;
        }

        .ui-state-focus,
        .ui-state-active {
            margin: 0;
        }
    }
}

.spinner {
    margin-bottom: 10px;
    margin-left: -22px;
}
// end of jQueryUI Autocomplete
/* purgecss end ignore */